<%= simple_form_for Dislike.new do |f| %>
    <div >
      <%= f.input :ingredients,
      label: "Dislikes",
      # Ingredient.where(name: "Flaxseed"),
      # label_method: :name,
      # value_method: :id,
      # label: false,
      # input_html: { class: "" }
      collection: [
        ['Soy', 'Soy'],
        ['Cow milk', 'Cow milk'],
        ['Nuts', 'Nuts'],
        ['Peanuts', 'Peanuts'],

      ],
      as: :check_boxes
      # selected: 0,
      # label_method: :second,

      # value_method: :first
      %>

      <%= f.submit 'Add', class: 'btn btn-default' %>

<% end %>
</div>
