<div class="footer">
  <div class="footer-logo">
    <div class="footer-links">
      <%= render 'components/logo' %>
      <br>
      <a href="https://www.instagram.com/the_smoothie"><i class="fab fa-instagram fo"></i></a>
      <a href="https://www.facebook.com/thesmoothieteam/"><i class="fab fa-facebook-f fo "></i></a>
      <a href="#"><i class="fab fa-twitter fo"></i></a>
      <p>© 2018 The Smoothie</p>
    </div>
  </div>
</div>
