<div class="footer">
<!--   <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div> -->
  <div class="footer-logo">
    <img id="smooooothie" src="http://res.cloudinary.com/mas-cloud/image/upload/v1543405729/the-smoothie/logo.png" alt="">
    <p>© 2018 The Smoothie</p>
  </div>
</div>
