
<div class="footer">
  <div class="footer-logo">
    <div class="footer-links">
      <%= render 'components/logo', class: "smoothie-footer-logo" %>
      <br>
      <a href="https://www.instagram.com/the_smoothie" target="_blank"><i class="fab fa-instagram fo"></i></a>
      <a href="https://www.facebook.com/thesmoothieteam/" target="_blank"><i class="fab fa-facebook-f fo "></i></a>
      <a href="https://github.com/marieamelie94/the-smoothie" target="_blank"><i class="fab fa-github fo"></i></a>
      <p>© 2018 The Smoothie</p>
    </div>
  </div>
</div>
