.configure {
  @media(min-width: 767px) {
    display: flex;
    flex-direction: row-reverse;
  }

  &__sidebar {
    padding: 1rem 2rem;
    width: 100%;

    @media(min-width: 767px) {
      position: fixed;
      right: 0;
      max-width: 300px;
      padding-top: 70px;
      height: 100vh;
    }
  }

  &__content {
    width: 100%;

    @media(min-width: 767px) {
      margin-right: 320px;
    }
  }
}

#upgrade-banner {
  margin-bottom: 1rem;
  font-weight: 700;
}

// h4 {
//   text-decoration: underline;
// }

// .modal-header {
//       box-sizing: border-box;

// }
.smoothie {
    padding: 2rem;
    /* border: 1px solid #ddd; */
    margin-bottom: 1rem;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 4px 16px rgba($pink, 0.1) !important;

    // border-top: 0.5px solid #C44E88;
}

#sbtm {
  background-color: white!important;
  color: $pink !important;
}

#sbtm:hover{
  background-color: $pink !important;
  color:white!important;
}

.smoothie__ingredients__title {
  font-size: 25px;
}

#xampleModalLabel {
  font-weight: bold;
}
.ingredient__photo{
  display: flex;
  align-items: center;
}
.ingredient_photo_popup {
  border-radius:50%;
  margin: 1rem;
  position: relative;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  padding: 0px;
  background: white;
}

.smoothie__ingredients__title{
  font-weight: bold;
  text-align:center;
  margin-top: -5px;
  color: #e82982;
}

.smoothie-dose__ingredient {
  margin-top: 18px;
  margin-bottom: 20px;
  flex-direction: column-reverse;

  @media(min-width: 767px) {
    flex-direction: row-reverse;
  }
}

.configure__sidebar {
  margin-right: 60px !important;
}
