
.confirmation-box {
  height: 65vh;
  margin-top: 20px;
  margin-bottom: 30px;
}

abbr[title="required"] {
  display: none;
}

 .ap-icon-clear .ap-icon-pin {
  background-color: transparent !important;
}
