
.confirmation-box {
  height: 75vh;
  margin-top: 20px;
  margin-bottom: 30px;
}

abbr[title="required"] {
  display: none;
}

 .ap-icon-clear .ap-icon-pin {
  background-color: transparent !important;
}

#pay{
  background-color: #e82982 !important;
}

// #pay:hover{
//   background-color:
// }
