// Specific CSS for your home-page
.img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 100%;

}


.img-1 {
  display:block;
  margin-top: 40px;
}

.rescue__logo {
  margin-left: 150px;
}

.b1 {
  display: flex;
  justify-content: center;
  // margin-left: auto;
  // margin-right: auto;
  // width: inherit;
  margin-top: 40px;
}

.btn-success {
  display: flex;
  justify-content: center;
  font-size: 28px;
  padding: 8px 10px;
  border-radius: 6px;
  align-self: center;
  text-decoration: none;
  margin-top: 12px;
}

.btn-success:hover {
  text-decoration:none !important;
}

.section-lead {
  padding: 48px 0;
}


.section {
  padding: 80px 0;

  &:nth-child(odd) {
    background: #f5f5f5;
  }
  &:nth-child(even) {
    background: #fff;
  }
  .section__title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 48px;
  }
  .section__image {
    width: 100%;
  }
}

.smoothies-banner {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;

  svg {
    width: 100%;
    max-width: 240px;
    height: 240px;
  }
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.feature {
  text-align: center;

  i {
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    border-radius: 80px;
    overflow: hidden;
    font-size: 64px;
    margin: 0 auto;
    margin-bottom: 24px;
  }
}

.headline--donation {
  font-size: 42px;
  line-height: 60px;
}

.section-lead__img {
  margin-bottom: 24px;
}

////////////////
// LOGO
////////////////

.smoothies-banner {
  #logo-the-smoothie__path-2 {
    fill: rgba(white, 0) !important;
  }

  .smoothie-logo:nth-child(1) {
    #logo-the-smoothie__path-2 {
      animation: color-pulse 3s .7s infinite;
      -moz-animation: color-pulse 3s .7s infinite; /* Firefox */
      -webkit-animation: color-pulse 3s .7s infinite; /* Safari and Chrome */
    }
  }

  .smoothie-logo:nth-child(2) {
    #logo-the-smoothie__path-2 {
      animation: color-pulse 3s 1.4s infinite;
      -moz-animation: color-pulse 3s 1.4s infinite; /* Firefox */
      -webkit-animation: color-pulse 3s 1.4s infinite; /* Safari and Chrome */
    }
  }

  .smoothie-logo:nth-child(3) {
    #logo-the-smoothie__path-2 {
      animation: color-pulse 3s 2.1s infinite;
      -moz-animation: color-pulse 3s 2.1s infinite; /* Firefox */
      -webkit-animation: color-pulse 3s 2.1s infinite; /* Safari and Chrome */
    }
  }

  .smoothie-logo:nth-child(4) {
    #logo-the-smoothie__path-2 {
      animation: color-pulse 3s 2.8s infinite;
      -moz-animation: color-pulse 3s 2.8s infinite; /* Firefox */
      -webkit-animation: color-pulse 3s 2.8s infinite; /* Safari and Chrome */
    }
  }
}

.smoothie-logo {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

@keyframes color-pulse /* Safari and Chrome */ {
  0% {fill:rgb(255, 100, 100); color:rgb(255, 100, 100);}
  25% {fill:rgb(100, 255, 190); color:rgb(100, 255, 190);}
  50% {fill:rgb(56, 190, 243); color:rgb(56, 190, 243);}
  750% {fill:rgb(229, 100, 255); color:rgb(229, 100, 255);}
  100% {fill:rgb(255, 100, 100); color:rgb(255, 100, 100);}
}

.headline--donation {
  text-align: initial;
  margin-left: 70px;
  margin-top: 34px;
}
