// Specific CSS for your home-page
.img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 100%;

}


.img-1 {
  display:block;
  margin-top: 40px;
}

.rescue__logo {
  margin-left: 350px;
}

.b1 {
  display: flex;
  justify-content: center;
  // margin-left: auto;
  // margin-right: auto;
  // width: inherit;
  margin-top: 40px;
}

.btn-success {
  display: flex;
  justify-content: center;
  font-size: 28px;
  padding: 8px 10px;
  border-radius: 6px;
  align-self: center;
  text-decoration: none;
  margin-top: 12px;
}

.btn-success:hover {
  text-decoration:none !important;
}

.section-lead {
  padding: 48px 0;
}


.section {
  padding: 80px 0;

  &:nth-child(odd) {
    background: #f5f5f5;
  }
  &:nth-child(even) {
    background: #fff;
  }
  .section__title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 48px;
  }
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.feature {
  text-align: center;

  i {
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    border-radius: 80px;
    overflow: hidden;
    font-size: 64px;
    margin: 0 auto;
    margin-bottom: 24px;
  }
}

.headline--donation {
  font-size: 42px;
  line-height: 60px;
}

.section-lead__img {
  margin-bottom: 24px;
}


