<div class="container">
  <h1>Order</h1>
  <div>
    <p>Already a customer?</p>
    <%= link_to 'Log in', new_user_session_path, class: "btn btn-default" %>
    <p>New customer?</p>
    <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-default" %>
  <!--Basket, show the order items -->
  </div>

</div>
