<div class="payment">
   <br>
  <br>
 <i class="far fa-check-circle"></i>
  <h1> Thank You! </h1>
  <dl>
  <dt>Your payment is succesfully done.</dt>
  <br>
  <br>
  <dt id="terms">   <strong> <%= link_to "Home", root_path, class: "btn btn-lg btn-success" %> </strong></div></p></dt>
  <br>
  <br>
   <br>
  <br> <br>
  <br> <br>
  <br>
</div>
