<!-- About page view code here -->
<div class="container">
  <h1>About</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates repellendus quo, modi alias delectus consequatur iste atque expedita officia, eaque, doloremque, velit autem!</p>
</div>
