<!-- About page view code here -->
<div class="container">
  <h1>About</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  <div id="about">
    <div class="about-content">
      <h1>This page was built by</h1>
      <ul class="list-inline">
        <li>
          <a href="https://kitt.lewagon.com/alumni/marieamelie94" target="_blank">            <img src="https://kitt.lewagon.com/placeholder/users/marieamelie94" class="img-circle" alt="Marie">
            </a>          <h2>Marie Amelié</h2>
            <p>
              <a href="https://github.com/evkirp" target="_blank">              <i class="fab fa-github"></i> evkirp
              </a>          </p>
            </li>
          <li>
            <a href="https://kitt.lewagon.com/alumni/rogerct" target="_blank">            <img src="https://kitt.lewagon.com/placeholder/users/evkirp" class="img-circle" alt="Evkirp">
            </a>          <h2>Evgeniya Kirpicheva</h2>
            <p>
              <a href="https://github.com/evkirp" target="_blank">              <i class="fab fa-github"></i> evkirp
              </a>          </p>
            </li>
        <li>
          <a href="https://kitt.lewagon.com/alumni/rogerct" target="_blank">            <img src="https://kitt.lewagon.com/placeholder/users/rogerct" class="img-circle" alt="Rogerct">
          </a>          <h2>Roger Comas</h2>
          <p>
            <a href="https://github.com/evkirp" target="_blank">              <i class="fab fa-github"></i> rogerct
            </a>          </p>
          </li>
          </ul>
        </div>
      </div>
    </div>
