<!-- About page view code here -->
<div class="container">
  <h1 class="title">About</h1>
  <div id="about">
    <div class="about-content">
    <img class="img-circle" src="https://res.cloudinary.com/mas-cloud/image/upload/v1543931585/the-smoothie/smoothie-gang.jpg">
      <ul class="list-inline">
        <li>
          <a href="https://kitt.lewagon.com/alumni/marieamelie94" target="_blank">          <!--   <img src="https://kitt.lewagon.com/placeholder/users/marieamelie94" class="img-circle" alt="Marie"> -->
            </a>          <h2>Marie Amelié</h2>
            <p>
              <a class="a" href="https://github.com/marieamelie94" target="_blank">              <i class="fab fa-github a"></i> marieamelie94
              </a>          </p>
            </li>
          <li>
            <a href="https://kitt.lewagon.com/alumni/rogerct" target="_blank">           <!--  <img src="https://kitt.lewagon.com/placeholder/users/evkirp" class="img-circle" alt="Evkirp"> -->
            </a>          <h2>Evgeniya Kirpicheva</h2>
            <p class="a">
              <a class="a" href="https://github.com/evkirp" target="_blank">              <i class="fab fa-github a"></i> evkirp
              </a>          </p>
            </li>
        <li>
          <a href="https://kitt.lewagon.com/alumni/rogerct" target="_blank">            <!-- <img src="https://kitt.lewagon.com/placeholder/users/rogerct" class="img-circle" alt="Rogerct"> -->
          </a>          <h2 >Roger Comas</h2>
          <p class="a">
            <a class="a" href="https://github.com/evkirp" target="_blank">              <i class="fab fa-github a"></i> rogerct
            </a>          </p>
          </li>
          </ul>
        </div>
      </div>
      <p style=" text-align: center;"><strong>Who we are! </strong><br></p>
  <p style=" text-align: center;">
We are two chicks Marie and Ev and one dude Roger. <br> We met at LeWagon and immediately bonded over a desire to make everyone healthier and provide nutritional advice. <br>
We’ve realized that the main issue is “time and know how”.  So we put on our thinking hats on and decided to create a sophisticated system that allows you to order exactly what you need for a super breakfast based on your personal information.
Our smoothie is purpose orientated and delicious, basically, it’s a medicine. <br><br><strong>We are what we eat!</strong></p>
    </div>
