<div class="container">
  <h1>Choose Amount</h1>
  <img src="https://res.cloudinary.com/mas-cloud/image/upload/v1543489199/the-smoothie/smoothie-green.png" alt="">
  <%= link_to 'Create Your Basket', page_path("configure")  %>

</div>
