<div class="container">
   <img class="img" src="https://res.cloudinary.com/mas-cloud/image/upload/v1543496741/the-smoothie/smoothies-banner.png" alt="">

   <img class="img-1"src="https://res.cloudinary.com/mas-cloud/image/upload/v1543496888/the-smoothie/Bildschirmfoto_2018-11-29_um_14.07.32.png" alt="">
   <!-- WRAP IN DIV -->
  <!-- DISPLAY FLEX + JUSTIFY CONTENT  -->
  <div class="button">
    <%= link_to 'Get Started', page_path("choose-amount"), class: "btn btn-lg btn-success b1" %>
</div>
</div>


