<div class="container">
  <h1>Welcome to The Smoothie Home page</h1>
  <h2>Work in progress</h2>
  <h3>Drink smoothies bitches </h3>
   <%= link_to 'Get Started', page_path("choose-amount"), class: "btn btn-default" %>
</div>


