.smoothie {
  padding: 1rem;
  border: 1px solid #ddd;
  margin-bottom: 1rem;

  &__amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
  }
}

.smoothie__ingredients {
  border: 1px solid #ddd;
  margin-bottom: 1rem;

  &__title {
    padding: 1rem;
  }
}

.smoothie__ingredient {
  border-top: 1px solid #ddd;
  padding: 1rem;
}
