.smoothie {
  padding: 2rem;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  background: #fff;
  border-radius: 8px;
  text-align: center;

  &__amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
  }

  .input.select {
    width: 100%;

    label {
      margin: 0 8px;
    }
  }
}

.smoothie--detail {
  background: #fff;
  border-radius: 8px;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  padding: 48px;
  margin-bottom: 48px;
}

.smoothie__ingredients {
  border: 1px solid #ddd;
  margin-bottom: 1rem;

  &__title {
    padding: 1rem;
  }
}

.smoothie__ingredient {
  border-top: 1px solid #ddd;
  padding: 1rem;
}

.smoothie-dose__ingredient {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ddd;

  .smoothie-dose__details {
    padding: 1rem;
  }

  .ingredient__name {

  }

  .ingredient__photo img {
    width: 160px;
    height: auto;
  }
}
