<div class="smoothie">
  <div>
    <img src="<%= s.photo %>" alt="" width ="160" height="160">
  </div>
  <h3><%= s.name %></h3>
  <p><%= s.description %></p>
  <%= link_to 'Details', smoothy_path(s), class: "btn btn-default" %>
</div>
