<div class="smoothie">
  <div>
    <img src="https://res.cloudinary.com/mas-cloud/image/upload/v1543489199/the-smoothie/smoothie-green.png" alt="" width ="150" height="120">
  </div>
  <h3><%= s.name %></h3>
  <p><%= s.description %></p>
  <%= link_to 'Details', smoothy_path(s), class: "btn btn-default" %>
</div>
