/* -------------------------------------
 * Your CSS code for amount
* ------------------------------------- */

.amount {
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 48px;

  &__measure {
    display: flex;
    justify-content: space-between;
  }

  &__selected {
    font-size: 80px;
    color: $baby-blue;
    text-align: center;
  }

  .price_amount__selected {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 24px;
    color: $pink;
    text-align: center !important;
  }

  &__selected-info-top {
    margin-top: 24px;
    text-align: center;
    font-size: 24px;
  }

  &__selected-info-bottom {
    margin-bottom: 24px;
    text-align: center;
    font-size: 24px;
  }
}

#price_amount__selected {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 24px;
}
