.navigation-bar {
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
  z-index: 200000 !important;
}
.logo {
  text-decoration: none;
  font-family: "Dosis", sans-serif;
  font-weight: 600px;
  font-size: 30px;
  color: $pink;
  text-align:center;
}

.logo:hover{
  text-decoration: none;
  color: #C44D88;
}

#logo_p{
width: 55px;
height: 60px;
margin-bottom: 10px;

}

.dropdown-menu {
  left: -100px;

}

.dropbtn:hover {
  background-color: #F4F4F4;
  color: #F4F4F4;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

// .dropbtn {
//     background-color: white;
//     color: white;
//     padding: 1px;
//     font-size: 1px;
//     border: none;
//     cursor: pointer;
//     margin-right: 70px;
//     height: 10vh;
//     background-size: 55%;
//     width: 6vw;
//     background-repeat: no-repeat;
//     background-position: center;
//     background-color: transparent;
//     border: none;
//     border-radius: none;
//     box-shadow: none;

// }

// /* Dropdown button on hover & focus */
// .dropbtn:hover, .dropbtn:focus {
//     background-color: transparent;
// }

/* The container <div> - needed to position the dropdown content */
// .dropdown {
//     float: left;
//     position: relative;
//     display: inline-block;
//     z-index: 99999;
//     border: 1px solid transparent;
//     background-color: transparent;


// }

/* Dropdown Content (Hidden by Default) */
// .dropdown-content {
//     display: none;
//     // position: absolute;
//     // background-color: #f1f1f1;
//     min-width: 160px;
//     // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//     // z-index: 1;
//     //     margin-left: -93px;
//     //         margin-right: -66px;



// }

// /* Links inside the dropdown */
// .dropdown-content a {
//     color: black;
//     padding: 12px 16px;
//     text-decoration: none;
//     display: block;
//     // margin-left: -79px;
//     margin-right: -66px;
//         // margin-top: -3px;
//         // margin-bottom: 2px;

// // -webkit-transition:height 200ms ease-in;
// //     -moz-transition:height 200ms ease-in;
// //     -o-transition:height 200ms ease-in;
// //     transition:height 200ms ease-in;
//   }
