

.edit-preferences {
  h2 {
    text-align: center;
    margin-bottom: 48px;
  }

  .content {
    width: 100%;
  }

  .sidebar {
    width: 100%;
    max-width: 100%;
    padding: 12px;

    .side-element {
      margin-top: 36px;
    }
  }

  @media(min-width: 767px) {
    .layout {
      display: flex;
    }
    .sidebar {
      max-width: 320px;
    }
  }

  .content-bottom {

  }

}

.preferences-form {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 48px;

  .btn {
    display: block;
    margin: 0 auto;
    margin-top: 48px;
  }
}

.value__selected {
  text-align: center;
  margin-bottom: 10px;
  font-size: 25px;
}

.value__selected-info-top {
  margin-top: 50px;
  display: flex;
}

.input-allergies-other,
.input-likes-other,
.input-dislikes-other {
  margin-top: 1rem;
}

.user_goal,
.user_gender,
.allergies,
.likes,
.dislikes {
  margin-bottom: 5rem;

  .form-control {
    border: 1px solid #ccc;
    border-radius: 8px;
  }
}

.user_goal,
.user_gender,
.user_allergy_ingredient,
.user_dislike_ingredient,
.user_like_ingredient {
  width: 100%;

  @media(min-width: 767px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }

  > label {
    width: 100%;
    grid-column: 1/4;
  }

  .checkbox,
  .radio {
    margin: 0 !important;
  }

  .check_boxes,
  .radio_buttons {
    display: none;
  }

  input[type="checkbox"]:checked+label,
  input[type="radio"]:checked+label {
    background: #A5E5EB;
  }

  .radio label,
  .checkbox label {
    min-height: 24px;
    padding-left: 0;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    background: #eee;
    padding: 1rem 2rem;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 1rem !important;

    @media(min-width: 767px) {
      margin-bottom: 0 !important;
    }
  }
}
