.edit-preferences {
  h2 {
    text-align: center;
    margin-bottom: 48px;
  }
}

.preferences-form {
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 48px;

  .btn {
    display: block;
    margin: 0 auto;
    margin-top: 48px;
  }
}

.value__selected {
  text-align: center;
  margin-bottom: 10px;
  font-size: 25px;
}

.value__selected-info-top {
  margin-top: 50px;
}
