

.edit-preferences {
  h2 {
    text-align: center;
    margin-bottom: 48px;
  }

  .content {
    width: 100%;
  }

  .sidebar {
    width: 100%;
    max-width: 100%;
    padding: 12px;
  }

  @media(min-width: 767px) {
    .layout {
      display: flex;
    }
    .sidebar {
      max-width: 320px;
    }
  }

  .content-bottom {
    display: flex;

    .content-bottom-element{
      padding:12px;
      margin: 26px auto 6px auto;
    }
  }

}

.preferences-form {
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 48px;

  .btn {
    display: block;
    margin: 0 auto;
    margin-top: 48px;
  }
}

.value__selected {
  text-align: center;
  margin-bottom: 10px;
  font-size: 25px;
}

.value__selected-info-top {
  margin-top: 50px;
  display: flex;
}
