.form-sign-up {
  padding: 12px 24px;
  border-radius: 3px;
  max-width: 480px;
  margin: 0 auto;
  margin-bottom: 48px;


  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }

  .btn {
    margin-bottom: 24px;
  }
}
