// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

@import "smoothies/index";

@import "orders/index";
@import "payments/index";

// https://hackernoon.com/removing-that-ugly-focus-ring-and-keeping-it-too-6c8727fefcd2body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

h1 {
  text-align: center;
}

.hidden {
  display: none;
  visibility: hidden;
}

.btn {
  border-radius: 8px;
}

.btn-success {
  background-color: #62F69D;
  border-color: #62F69D;
}

.form-control {
  margin-bottom: 24px;
  max-width: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 100%;
    max-width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1170px;
  }
}

.btn-center {
  display: block;
  margin: 0 auto;
  max-width: 240px;
  margin-top: 24px;
}
