// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

@import "smoothies/index";

@import "orders/index";
@import "payments/index";

// https://hackernoon.com/removing-that-ugly-focus-ring-and-keeping-it-too-6c8727fefcd2body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

body {
  background: white;
}

h1 {
  text-align: center;
}

.hidden {
  display: none;
  visibility: hidden;
}

.btn {
  border-radius: 8px;
}

.stripe-button-el span {
    background-image:  linear-gradient(#AA4475,#AA4475 100%,#AA4475) !important;
    font-family: "Dosis", sans-serif !important;
    outline: 0 !important;
    border: 0 !important;
    font-weight: bold !important;
    width: 100% !important;
    padding: 0.5rem 1rem !important;
    // box-sizing: border-box;
    height: auto !important;
    font-size: 16px !important;
    color: white !important;
    margin-bottom: 0 !important;
    text-align: center !important;
    line-height: none !important;
    border-radius: 8px !important;
    vertical-align: middle !important;
    line-height: normal !important;
    box-shadow: none !important;
}

.stripe-button-el {
  box-shadow: none !important;
  background-image:  linear-gradient(white,white 100%,white) !important;
  vertical-align: middle !important;
}

.btn-success,
.btn-default,
.form button,
.form input[type="submit"] {
  background-image: none;
  background: #AA4475 !important;
  color: white !important;
  font-weight: 400;
  box-shadow: none;
  padding: 0.5rem 1rem;
  border-color: #AA4475 !important;

  &:hover,
  &:active,
  &:focus, {
    background: rgba(#AA4475, 0.9);
    color: white;
    border-color: #AA4475 !important;
  }

}

.ap-input-icon.ap-icon-pin {
  cursor: initial;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  background: none !important;
  background-image: none;
  color: white !important;
  font-weight: 400;
  box-shadow: none;
  padding: 0.5rem 1rem;
  border-color: #AA4475 !important;

  svg {
    fill: #cfcfcf;
    position: absolute;
    top: 50%;
    right: 50% !important;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
  }
}

.form-control {
  margin-bottom: 24px;
  max-width: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 100%;
    max-width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1170px;
  }
}

.btn-center {
  display: block;
  margin: 0 auto;
  max-width: 240px;
  margin-top: 24px;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
}
